/**
 * Some modular CSS references:
 *   CSS Style Guide Motivations:
 *     https://spaceninja.com/2018/09/18/what-is-modular-css/#modular-categories
 *     https://cssguidelin.es/#syntax-and-formatting
 *     https://github.com/airbnb/css
 *
 *   CSS Style Guide that I am using:
 *     https://primer.style/css/principles#bem-style-naming-and-structure
 *     https://github.com/airbnb/css
 *
 *   CSS Library that utilizes much of the above style conventions (BEM-based):
 *     https://github.com/primer/css
 *
 *   CSS Linter (recommended by the CSS library I'm using):
 *     https://stylelint.io/
 *     https://primer.style/css/tools/linting
 *
 *
 *   Helpful sidebar/sidepanel example from a guy with a thick Indian accent on YouTube : )
 *     https://www.youtube.com/watch?v=uWUNZ4u1VLA
 *
 *   A more modular HTML/CSS-only Hamburger Menu, as overlay, using flexbox:
 *     https://www.youtube.com/watch?v=DZg6UfS5zYg <-- use for modal!?
 *
 *   A last-resort super messy side-menu example:
 *     https://codepen.io/Tyriar/pen/nJGfj
 *
 *
 *   ...I just decided to go with a minimal CSS look, rather than have fancy
 *   slide-out animations with very messy CSS.
 *
 */

/* Primer's recommended way to include their CSS, for static webpages */
@import url("primer.css");

footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

.Filters {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.Dropdown {
  height: 2.7em;
}

.Main {
  display: flex;
  min-width: 30vw;
  flex-direction: row;
}

.List {
  display: flex;
  min-width: 30vw;
  height: 65vh;
  overflow: auto;
  text-align: center;
  flex-direction: column;
}

.Detail {
  min-width: 30vw;
  height: 65vh;
  overflow: auto;
}

.Detail img {
  max-width: 500px;
}

.Detail h3 {
  margin-bottom: 1.5vh;
}

.ArticleTitle:hover {
  cursor: pointer;
}

.SideBar {
  min-width: 30vw;
  height: 65vh;
  overflow: auto;
}

.SideBar .--active {
  display: flex;
}

/* .HamburgerButton {
  cursor: pointer;
} */

/* .HamburgerButton span {
  display: block;
  width: 30px;
  height: 5px;
  margin: 3px 0;
  background: #151719;
} */

.octicon .star .--favorited {
  fill: blue !important;
}

.Input {
  width: 100%;
  font-family: Times;
  font-size: 16px;
}

.InputContainer {
  display: inline-block;
  margin-bottom: 2em;
}

.InputLabel--hidden {
  height: 0;
  visibility: hidden;
}

.FavoriteButton {
  background: none;
  border: 0;
}

/* .FavoriteButtonSVGPath {
  fill: blue !important;
} */
